@{
    ViewData["Title"] = "The Coding Cafe";
}

<div class="p-4 mb-3 shadow" style="background-color:cornflowerblue;border-radius:40px;">
    <h1>The Coding Cafe <i class="fa fa-code" aria-hidden="true" style="font-size:48px"></i></h1>
    <p class="lead">
        Our unique cafe embraces the brains of programmers. With areas to work, and coffee to keep you going.
    </p>
</div>
<div class="row">
    <p class="bg-warning rounded">Our privacy policy is under construction. Please check back soon!</p>

</div>

